/* global style start */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}
/* global style end */

/* common share style start */
main {
  width: 1280px;
  margin: 0px auto;
}

.btn-primary {
  background: #2d2d2d;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  border: 0px;
  line-height: 30px;
  padding: 24px 64px;
  gap: 10px;
}
/* common share style end */

/* header style start */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 42px;
}

.logo {
  color: #2d2d2d;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 30px;
  margin-left: 98px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px 24px 0px;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  width: 170px;
  height: 50px;
  float: left;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}

.navbar ul li a {
  color: #2d2d2d;
  text-decoration: none;
}
/* header style end */

/* banner style start */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 0px;
}

.banner-sub-title {
  color: #2d2d2d;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 24px;
}

.banner-title {
  color: #2d2d2d;
  font-size: 68px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 24px;
}

.banner-description {
  color: #2d2d2d;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 24px;
}

.banner-img {
  height: 360px;
  min-width: 320px;
  max-width: 480px;
}
/* banner style end */

/* logo bar style start */
.logo-bar {
  padding: 42px 0px;
  margin-left: -50px;
}
/* logo bar style end */

/* service style start */
.service-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 42px;
}

.service-box {
  margin: 0px 154px;
}

.service-icon {
  display: block;
  margin: 0px auto;
}

.service-title {
  color: #2d2d2d;
  text-align: center;
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  padding-top: 42px;
}

.service-sub-title {
  color: #2d2d2d;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  padding-top: 12px;
}
/* service style end */

/* work style start */
.work-container {
  padding: 42px 0px;
}

.work-title {
  color: #2d2d2d;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  padding-bottom: 42px;
}

.work-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#work-row-2 {
  margin-top: 24px;
}

.project-title {
  color: #2d2d2d;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-top: 24px;
}

.project-sub-title {
  color: #2d2d2d;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
/* work style end */

/* testimonial style start */
.testimonial-container {
  padding: 42px 0px;
}

#testimonial-row-2 {
  margin-top: 24px;
}

.testimonial-title {
  color: #2d2d2d;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  padding-bottom: 42px;
}

.testimonial-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.client-box {
  padding: 42px;
  background: #f3f3f3;
}

.client-box-title {
  color: #2d2d2d;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 68px;
}

.client-details {
  display: flex;
  gap: 16px;
  align-items: center;
}

.client-name {
  color: #2d2d2d;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.client-company {
  color: #2d2d2d;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
/* testimonial style end */
