/* global style start */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}
/* global style end */

/* header style start */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 42px;
}

.logo {
  color: #2d2d2d;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 30px;
  margin-left: 98px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px 24px 0px;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  width: 170px;
  height: 50px;
  float: left;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}

.navbar ul li a {
  color: #2d2d2d;
  text-decoration: none;
}
/* header style end */
